#nav, .nav {
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

a {
  font-weight: bold;
  color: $dark-blue;
  text-decoration: none !important;
  transition: 0.6s;

  &.router-link-exact-active {
    color: $green;
  }
  &:hover{
    text-decoration: none;
    color: $green;
    transition: 0.6s;
  }
}